.portfolio-banner{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    width: 100%;
    overflow: hidden;
    text-align: center;
   margin-bottom: 10rem;
}
button.btn-project :hover {
    background-color: black !important;
  }
.portfolio-main{
    margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 5rem;
        gap: 4rem;
        justify-content: space-around;
}

.C{
    text-align: left;
}
.multiple-buttons{
    margin-top: 1.1rem;
    width: 100%;
    /* display: flex; */
    /* gap: 10px; */
    background-color: white;
    /* justify-content: space-around; */
}
.btn-project{
    width: 100%;
    border-radius: 12px;
    padding: 1rem 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    cursor: pointer;
    margin-top: 7px;
}

.project{
    padding: 2rem;
    background-color: white;
    /* cursor: pointer; */
    width: fit-content;
}
a{
    text-decoration: none;
    cursor: auto;
}
.project-img{
    width: 100%;
    background-color: white;
    cursor: pointer;
}
.project-discription{
    background-color: white;
    cursor: pointer;
    font-size: larger;
    color: rgba(0, 0, 0, 0.621);
}

@media screen and (max-width: 1072px){
    .portfolio-main{
            grid-template-columns: 1fr 1fr;
            margin: 2rem 2rem;
            gap: 2rem;
            justify-content: space-around;
    }
}
@media screen and (max-width: 825pxpx){
    .multiple-buttons{
        gap: 0px;
    }
}
@media screen and (max-width: 682px){
    .portfolio-main{
            grid-template-columns: 1fr;
            margin: 2rem 2rem;
            gap: 2rem;
            justify-content: space-around;
    }
}
@media screen and (max-width: 400px){
    .portfolio-main{
            grid-template-columns: 1fr;
            margin: 2rem 1rem;
            gap: 2rem;
            justify-content: space-around;
    }
}